* {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgb(210, 237, 250), #0685fc);
    height: auto;
    margin-top: 25px;
}

#container{
    padding: 5px 15px;
    background-color: white;
    max-width: 270px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.452);
}

h1 {
    border-bottom: 2px solid black; 
    
}

p {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    margin-bottom: 15px;
}

input {
    height: 25px;
    width: 170px;
    font-size: 0.8em;
    border-radius: 5px;
}

button {
    width: 270px;
    height: 30px;
    background-color: rgb(163, 204, 243);
    font-size: 1.1em;
    border: 1px solid rgba(0, 0, 0, 0.548);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(224, 237, 250);
}

#resultado {
    height: 90px;
    width: 270px;
    background-color: rgb(163, 204, 243);  
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.281);
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 5px;
    
    justify-content: center;
    align-items: center;
}